*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 64px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .8px solid;
    border-color: rgb(193, 195, 195);
}
.content{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

.left-content{
    width: 400px;
    height: 680px;
    background-color: #fff;
}
.start{
    width: 360px;
    height: 44px;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    line-height: 2.75rem;
    font-size: 2.25rem;
    letter-spacing: 0;
    font-weight: 400;
    margin: 29px 0 40px;
}
.number{
    font-family: Roboto,Arial,sans-serif;
    line-height: 1.25rem;
    font-size: .875rem;
    letter-spacing: .0142857143em;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 20px;
}

.container{
    margin-top: 30px;
    
}
.radios{
    width: 390px;
    height: 48px;
    line-height: 48px;
}

span{
    margin-left: 20px;
    font-family: Roboto,Arial,sans-serif;
    font-size: 15px;
}
select{
    width: 360px;
    height: 56px;
    margin-top: 30px;
    padding-left: 15px;
    font-size: 20px;
    color: rgb(111, 113, 116);

}


.button{
    width: 110px;
    height: 40px;
    color: #fff;
    background-color: rgb(26,115,232);
    font-size: 15px;
    margin-top: 40px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 4px;
    font-family: "Google Sans",Roboto,Arial,sans-serif;


}




.right-content{
    width: 400px;
    height: 700px;
    background-color:#fff;
    border: 1px solid;
    border-color: rgb(193, 195, 195);
    border-radius: 10px;
    margin-top: 15px;



}

.right-content .top-content{
    width: 350px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.p1{
    font-size: 18px;
    font-family:Roboto,Arial,sans-serif;
    padding-top: 40px;
    padding-left: 30px;
    
}
.p2{
    width: 270px;
    height: 50px;
    padding-top: 20px;
    padding-left: 30px; 
    font-family: Roboto,Arial,sans-serif;
    line-height: 1.25rem;
    font-size: .875rem;
    letter-spacing: .0142857143em;
    font-weight: 400;
    

   
}

.meeting-img{
    width: 100px;
    height: 100px;
    padding-top: 40px;
    padding-left: 40px;
}

.foot-content{
    padding-top: 0;
    margin-top: 85px;
    border-top: 1px solid;
    border-color: rgb(193, 195, 195);
   
}

.work-more{
    width: 350px;
    height: 100px;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    line-height: 2.25rem;
    font-size: 1.75rem;
    letter-spacing: 0;
    font-weight: 400;
    padding-top: 40px;
    padding-left: 30px;
   
    
   
}

.product-icon{
    width: 222px;
    height: 48px;
    margin-top: 60px;
    margin-left: 20px;
}
.email{
    width: 80%;
    margin-top: 30px;
    margin-left: 35px;
}


.same{
    display: flex;
    padding-bottom: 15px;
    font-family:Roboto,Arial,sans-serif;

}
